.card-list {
  padding: 70px 70px 10px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: center;
  align-items: center;
  gap: 38px 20px;
}

.card-list_saved {
  padding-bottom: 240px;
}
