.cards {
  padding: 70px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  gap: 38px 20px;
}

.cards_saved {
  padding-bottom: 240px;
}

@media screen and (max-width: 1150px) {
  .cards {
    grid-template-columns: repeat(3, 270px);
    gap: 30px;
  }
}

@media screen and (max-width: 879px) {
  .cards {
    padding-top: 69px;
    grid-template-columns: repeat(2, 339px);
    gap: 30px;
  }

  .cards_saved {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 712px) {
  .cards {
    padding-top: 41px;
    grid-template-columns: repeat(1, 300px);
    gap: 34px;
  }
}
