.card-list {
  padding: 70px 70px 80px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(4, 230px);
  justify-content: center;
  align-items: center;
  gap: 38px 20px;
}

.card-list__button {
  padding: 0;
  width: 320px;
  height: 36px;
  border: 1px solid #E8E8E8;
  background-color: #FFFFFF;
}