.card {
  width: 270px;
  height: 230px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
  transition: box-shadow 0.2s linear;
}

.card__image {
  margin-bottom: 10px;
  width: 270px;
  height: 151px;
}

.card__info {
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.card__title {
  max-width: 226px;
  margin: 4px 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
}

.card__button {
  margin-bottom: 25px;
  width: 24px;
  height: 24px;
  background-image: url(../../images/card_like_disabled.svg);
}

.card__button_like {
  background-image: url(../../images/card_like_active.svg);
}

.card:hover .card__button_delete {
  background-image: url(../../images/card_delete_active.svg);
}

.card__time {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #A0A0A0;
}

@media screen and (max-width: 879px) {
  .card {
    width: 339px;
    height: 269px;
  }

  .card__image {
    width: 339px;
    height: 190px;
  }

  .card__title {
    max-width: 295px;
  }
}
