.profile {
  padding: 72px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 0 0 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #000000;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile__form-container {
  width: 100%;
  padding: 18px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__form-container:hover {
  cursor: pointer;
}

.profile__form-container:first-child {
  padding: 0;
  border-bottom: 1px solid #E8E8E8;
}

.profile__text {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  color: #000000;
}

.profile__input {
  margin-bottom: 15px;
  padding: 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  border: none;
  border-bottom: 1px solid #FAFAFA;
  color: #000000;
  text-align: right;
  background-color: #FAFAFA;
}

.profile__input-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.profile__input-error {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #EE3465;
  text-align: right;
}

.profile__input_error-active {
  margin-bottom: 3px;
  color: #EE3465;
}

.profile__input:focus {
  outline: none;
  border-bottom: 1px solid #3456F3;
}

.profile__tooltip {
  width: 156px;
  margin: 0;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 218px;
  right: 124px;
  background-color: #DDDEE3;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  pointer-events: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.8s 0.2s linear;
  opacity: 0;
}

.profile__tooltip_active {
  opacity: 1;
  top: 198px;
}

.profile__edit {
  margin-top: 205px;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}

.profile__edit_disabled {
  color: #DDDEE3;
}

.profile__edit:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.profile__edit_disabled:hover {
  opacity: 1;
  cursor: auto;
}

.profile__logout {
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #EE3465;
  text-decoration: none;
}

.profile__logout:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .profile {
    padding: 232px 0 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__edit{
    margin-top: 210px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    padding: 67px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__form {
    max-width: 260px;
  }

  .profile__edit {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
