.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.portfolio__link-container {
  padding: 20px 0 19px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__link-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link-text {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}

.portfolio__link-text:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.portfolio__link-symbol {
  width: 17px;
  height: 17px;
  background-image: url(../../images/link_symbol.svg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 39px;
  right: 7px
}

.portfolio__link-symbol:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 650px) {
  .portfolio {
    max-width: 292px;
    margin: 0 auto;
    padding: 0 0 70px;
  }

  .portfolio__title {
    margin-bottom: 22px;
    font-size: 14px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-symbol {
    width: 11px;
    height: 11px;
    background-image: url(../../images/link_symbol_320.svg);
    top: 26px;
    right: 4px;
  }
}
