.nav__menu {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.nav__menu_mobile {
  flex-direction: column;
}

.nav__register {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.nav__register:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav__login {
  width: 76px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
}

.nav__login:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav__movies {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.nav__movies:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav__saved-movies {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.nav__saved-movies:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav__profile {
  width: 100px;
  height: 32px;
  margin-top: 4px;
  background-image: url(../../images/profile_button.svg);
  background-position: center;
}

.nav__profile:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .nav__menu_mobile {
    gap: 28px;
  }

  .nav__movies {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid #FAFAFA;
  }

  .nav__movies:hover {
    border-bottom: 2px solid #000000;
    opacity: 1;
  }

  .nav__saved-movies {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid #FAFAFA;
  }

  .nav__saved-movies:hover {
    border-bottom: 2px solid #000000;
    opacity: 1;
  }

  .nav__profile {
    height: 36px;
    margin-top: 444px;
  }
}

@media screen and (max-width: 650px) {
  .nav__menu_mobile {
    gap: 24px;
  }

  .nav__register {
    font-size: 10px;
    margin-right: 14px;
  }

  .nav__login {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .nav__movies {
    padding-bottom: 5px;
  }

  .nav__saved-movies {
    padding-bottom: 5px;
  }

  .nav__profile {
    margin-top: 418px;
  }
}
