.nav-menu {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.nav-menu_mobile {
  flex-direction: column;
}

.nav-menu__register {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.nav-menu__register:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav-menu__login {
  width: 76px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
}

.nav-menu__login:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav-menu__movies {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.nav-menu__movies:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav-menu__saved-movies {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.nav-menu__saved-movies:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav-menu__profile {
  width: 100px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 40px;
  background-color: #FAFAFA;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
}

.nav-menu__profile_main-page {
  background-color: #DDDEE3;
}

.nav-menu__profile-container {
  padding: 7px 12px;
  display: flex;
  justify-content: space-between;
}

.nav-menu__profile-text {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  color: #000000;
}

.nav-menu__profile-image {
  width: 11px;
  height: 11px;
  background-image: url(../../images/profile_button_icon.svg);
}

.nav-menu__profile:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 879px) {
  .nav-menu_mobile {
    gap: 28px;
  }

  .nav-menu__movies {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid #FAFAFA;
  }

  .nav-menu__movies:hover {
    border-bottom: 2px solid #000000;
    opacity: 1;
  }

  .nav-menu__saved-movies {
    margin: 0;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid #FAFAFA;
  }

  .nav-menu__saved-movies:hover {
    border-bottom: 2px solid #000000;
    opacity: 1;
  }

  .nav-menu__profile {
    height: 36px;
    margin-top: 444px;
  }
}

@media screen and (max-width: 650px) {
  .nav-menu_mobile {
    gap: 24px;
  }

  .nav-menu__register {
    font-size: 10px;
    margin-right: 14px;
  }

  .nav-menu__login {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }

  .nav-menu__movies {
    padding-bottom: 5px;
  }

  .nav-menu__saved-movies {
    padding-bottom: 5px;
  }

  .nav-menu__profile {
    margin-top: 416px;
  }
}
