.checkbox {
  margin-top: 30px;
  display: flex;
  gap: 12px;
  position: relative;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox__input-hidden {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox__input-hidden + .checkbox__input-disabled {
  width: 36px;
  height: 20px;
  background-image: url(../../images/checkbox_off.svg);
}

.checkbox__input-hidden:checked + .checkbox__input-checked {
  width: 36px;
  height: 20px;
  background-image: url(../../images/checkbox_on.svg);
}

.checkbox__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

@media screen and (max-width: 712px) {
  .checkbox {
    margin-top: 40px;
    gap: 13px;
  }

  .checkbox__text {
    font-size: 11px;
  }
}
