.techs {
  padding: 95px 70px 100px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__info {
  max-width: 460px;
  padding-top: 90px;
}

.techs__title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__text {
  margin: 0;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__stack {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.techs__stack-item {
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.techs__stack-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 879px) {
  .techs {
    padding: 85px 50px 90px;
  }

  .techs__info {
    padding-top: 80px;
  }

  .techs__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__stack {
    padding-top: 83px;
  }

  .techs__stack-item {
    width: 84px;
    height: 57px;
  }

  .techs__stack-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 650px) {
  .techs {
    max-width: 284px;
    margin: 0 auto;
    padding: 70px 0 68px;
  }

  .techs__info {
    padding-top: 60px;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    margin-top: 24px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__stack {
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}
