.navtab__container {
  max-width: 640px;
  display: flex;
  justify-content: space-between;
}

.navtab__button {
  width: 129px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 3px;
  background-color: #DDDEE3;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.navtab__button:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.navtab__button_disabled {
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
}

.navtab__button_hidden {
  display: none;
}

.navtab__button_animation {
  animation: show 0.4s ease-out 0.2s backwards;
}

@media screen and (max-width: 879px) {
  .navtab__container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
